@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --clr-blue: #1a91f0;
  --clr-blue-mid: #1170cd;
  --clr-blue-dark: #1a1c6a;
  --clr-white: #fff;
  --clr-bright: #eff2f9;
  --clr-dark: #1e2532;
  --clr-black: #000;
  --clr-grey: #656e83;
  --clr-green: #084c41;
  --font-poppins: "Poppins", sans-serif;
  --font-manrope: "Manrope", sans-serif;
  --transition: all 300ms ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: var(--font-poppins);
}

button {
  border: none;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
  font-family: inherit;
}

img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* fonts */
.font-poppins {
  font-family: var(--font-poppins);
}
.font-manrope {
  font-family: var(--font-manrope);
}

/* text colors */
.text-blue {
  color: var(--clr-blue);
}
.text-blue-mid {
  color: var(--clr-blue-mid);
}
.text-blue-dark {
  color: var(--clr-blue-dark);
}
.text-bright {
  color: var(--clr-bright);
}
.text-dark {
  color: var(--clr-dark);
}
.text-grey {
  color: var(--clr-grey);
}
.text-white {
  color: var(--clr-white);
}

/* backgrounds */
.bg-blue {
  background-color: var(--clr-blue);
}
.bg-blue-mid {
  background-color: var(--clr-blue-mid);
}
.bg-blue-dark {
  background-color: var(--clr-blue-dark);
}
.bg-bright {
  background-color: var(--clr-bright);
}
.bg-dark {
  background-color: var(--clr-dark);
}
.bg-grey {
  background-color: var(--clr-grey);
}
.bg-white {
  background-color: var(--clr-white);
}
.bg-black {
  background-color: var(--clr-black);
}
.bg-green {
  background-color: var(--clr-green);
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text {
  color: var(--clr-dark);
  opacity: 0.9;
  margin: 2rem 0;
  line-height: 1.6;
}

.fw-2 {
  font-weight: 200;
}
.fw-3 {
  font-weight: 300;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}
.fw-7 {
  font-weight: 700;
}
.fw-8 {
  font-weight: 800;
}

.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-17 {
  font-size: 17px;
}
.fs-18 {
  font-size: 18px;
}
.fs-19 {
  font-size: 19px;
}
.fs-20 {
  font-size: 20px;
}
.fs-21 {
  font-size: 21px;
}
.fs-22 {
  font-size: 22px;
}
.fs-23 {
  font-size: 23px;
}
.fs-24 {
  font-size: 24px;
}
.fs-25 {
  font-size: 25px;
}

.ls-1 {
  letter-spacing: 1px;
}
.ls-2 {
  letter-spacing: 2px;
}

/* preview section */
.preview-cnt {
  border-radius: 5px;
  display: grid;
  grid-template-columns: 32% auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
  width: 100%;
}

.preview-cnt-l {
  padding: 2rem;
}
.preview-cnt-r {
  padding: 2rem 4rem 3rem 3rem;
}
.preview-cnt-l .preview-blk:nth-child(1) {
  text-align: center;
}
.preview-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}
.preview-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.preview-item-name {
  font-size: 2rem;
  font-weight: 600;
  margin: 1.8rem 0;
  position: relative;
}
.preview-item-name::after {
  position: absolute;
  content: "";
  bottom: -10px;
  width: 50px;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.5);
  left: 50%;
  transform: translateX(-50%);
}
.preview-blk {
  padding: 1rem 0;
  margin-bottom: 1rem;
}
.preview-blk-title h3 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 0.5rem;
  font-weight: bold;
}
.preview-blk-title {
  margin-bottom: 1rem;
}
.preview-blk-list .preview-item {
  font-size: 1rem;
  margin-bottom: 0.2rem;
  opacity: 0.95;
}
.preview-cnt-r .preview-blk-title {
  color: var(--clr-dark);
}
.preview-cnt-r .preview-blk-list .preview-item {
  margin-top: 1.8rem;
}

.achievements-items.preview-blk-list .preview-item span:first-child,
.educations-items.preview-blk-list .preview-item span:first-child,
.experiences-items.preview-blk-list .preview-item span:first-child {
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.03);
}

.educations-items.preview-blk-list .preview-item span:nth-child(2),
.experiences-items.preview-blk-list .preview-item span:nth-child(2) {
  font-weight: bold;
  margin-right: 1rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(3),
.experiences-items.preview-blk-list .preview-item span:nth-child(3) {
  font-style: italic;
  margin-right: 1rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(4),
.educations-items.preview-blk-list .preview-item span:nth-child(5),
.experiences-items.preview-blk-list .preview-item span:nth-child(4),
.experiences-items.preview-blk-list .preview-item span:nth-child(5) {
  margin-right: 1rem;
  background-color: var(--clr-green);
  color: var(--clr-white);
  padding: 0 1rem;
  border-radius: 0.6rem;
}

.educations-items.preview-blk-list .preview-item span:nth-child(6),
.experiences-items.preview-blk-list .preview-item span:nth-child(6) {
  font-size: 16px;
  display: block;
  opacity: 0.8;
  margin-top: 1rem;
}
.projects-items.preview-blk-list .preview-item span {
  display: block;
}

/* @media screen and (min-width: 768px) {
  .cols-3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .cols-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* print section */


.print_area{
  overflow-wrap: break-word;
}
@media print {
  body * {
    visibility: hidden;
  }

  .non_print_area {
    display: none;
  }

  .print_area,
  .print_area * {
    visibility: visible;
  }

  .print_area {
    font-size: 12px;  /* Base font size */
    top: 0;
    left: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    overflow-wrap: break-word;
  }

  /* Titles of Sections (About, Achievements, Education, etc.) */
  .print_area .preview-blk-title h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding-bottom: 0.5rem;
    margin-top: 0.25rem;  /* Reduced margin-top */
    margin-bottom: 0.02rem;  /* Reduced margin-bottom */
  }

  .print_area .preview-blk {
    margin-bottom: 0.02rem;  /* Reduced gap between blocks */
  }

  .print_area .preview-item {
    margin-bottom: 0.02rem;  /* Reduced gap between items */
  }


  /* Increase font size for designations (e.g., job titles, roles) */
  .print_area .preview-item-name {
    font-size: 18px;  /* Bigger font size for names */
    font-weight: 600;
    margin: 1.2rem 0;  /* Reduced margin */
    position: relative;
  }

  /* Make the company/school names and dates a bit smaller */
  .print_area .preview-item .company-name,
  .print_area .preview-item .school-name,
  .print_area .preview-item .date,
  .print_area .preview-item .location,
  .print_area .preview-item .phone-number,
  .print_area .preview-item .email {
    font-size: 10px;  /* Smaller text for company, school, dates, contact info */
  }

  /* Skills items */
  .print_area .preview-item .skills-items {
    font-size: 10px;  /* Smaller text for skills */
  }

  /* Description text (Project/Experience descriptions) */
  .print_area .preview-item .description {
    font-size: 10px;  /* Smaller text for descriptions */
    line-height: 1.4; /* Increase line height slightly */
  }

  /* Make sure the blocks and items fit well on A4 */
  .print_area .preview-cnt {
    display: grid;
    grid-template-columns: 32% auto;
    gap: 0.6rem;  /* Reduced gap between items */
    width: 100%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    overflow: hidden;
  }

  /* Ensure content width does not overflow */
  .print_area .preview-cnt-l {
    padding: 1rem;
    font-size: 12px;  /* Slightly smaller text for left content */
  }

  .print_area .preview-cnt-r {
    padding: 1rem 2rem;
    font-size: 12px;  /* Slightly smaller text for right content */
  }

  /* Make designation text larger */
  .print_area .preview-item-name {
    font-size: 20px;  /* Increased size for designation */
  }

  /* Achievements, Education, Experience item styling */
  .print_area .achievements-items.preview-blk-list .preview-item span:first-child,
  .print_area .educations-items.preview-blk-list .preview-item span:first-child,
  .print_area .experiences-items.preview-blk-list .preview-item span:first-child {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.03);
    margin-bottom: 0.5rem;  /* Reduced margin-bottom */
    font-size: 12px;  /* Slightly larger for headers */
  }

  /* Style spans within achievements, education, experiences */
  .print_area .educations-items.preview-blk-list .preview-item span:nth-child(2),
  .print_area .experiences-items.preview-blk-list .preview-item span:nth-child(2) {
    font-weight: bold;
    margin-right: 1rem;
    font-size: 12px;  /* Make it a bit bigger */
  }

  .print_area .educations-items.preview-blk-list .preview-item span:nth-child(3),
  .print_area .experiences-items.preview-blk-list .preview-item span:nth-child(3) {
    font-style: italic;
    margin-right: 1rem;
    font-size: 10px;  /* Slightly smaller */
  }

  /* Style for other spans (e.g., background color for dates or awards) */
  .print_area .educations-items.preview-blk-list .preview-item span:nth-child(4),
  .print_area .educations-items.preview-blk-list .preview-item span:nth-child(5),
  .print_area .experiences-items.preview-blk-list .preview-item span:nth-child(4),
  .print_area .experiences-items.preview-blk-list .preview-item span:nth-child(5) {
    margin-right: 1rem;
    background-color: var(--clr-green);
    color: var(--clr-white);
    padding: 0 1rem;
    border-radius: 0.6rem;
    font-size: 10px;  /* Slightly smaller size */
  }

  .print_area .educations-items.preview-blk-list .preview-item span:nth-child(6),
  .print_area .experiences-items.preview-blk-list .preview-item span:nth-child(6) {
    font-size: 11px;
    display: block;
    opacity: 0.8;
    margin-top: 1rem;
  }

  /* Adjust phone numbers, emails, and locations to smaller sizes */
  .print_area #phoneno_dsp,
  .print_area #email_dsp,
  .print_area #address_dsp,
  .print_area #summary_dsp {
    font-size: 11px; /* Smaller font size */
    line-height: 1.2; /* Adjust line height for better readability */
  }

  .print_area .preview-blk-list .preview-item {
    font-size: 11px;  /* Smaller text for items */
    margin-bottom: 0.02rem;  /* Reduced margin-bottom */
  }

}



@page {
  size: A4; /* Or Letter */
  margin: 8mm;  /* Reduce margins */
}