{% extends "baseTemp.html" %}
{% block body %}



<div class="faqTop" style="padding-top: 100px; padding-left: 20px; padding-right: 20px;">
  <section class="bg-white light:bg-gray-900">
    <div class="grid max-w-screen-xl mx-auto px-6 py-8 lg:gap-8 xl:gap-30 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
        <h1
          class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl light:text-black">
          SmartParichaya FAQ
        </h1>
        <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl light:text-gray-400">
          If you're new to SmartParichaya or looking to build your professional
          resume, this guide will help you learn more about the platform and
          its features
        </p>

        <p class="mb-3 text-gray-500 light:text-gray-400">
          We already have a detailed description about this website. Find it
          <a href="/about"
            class="font-medium text-blue-600 underline light:text-blue-500 light:hover:text-blue-600 hover:text-blue-700 hover:no-underline">right
            here</a>.
        </p>
      </div>

      <div class="lg:col-span-5 lg:flex">
        <img id="imBgCV" src="/static/blog-section/faqDiscussion.png" alt="CV bg"
          style="height: auto; max-width: 100%" />
      </div>
    </div>
  </section>
</div>

<h1
  class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl light:text-black"
  style="text-align: center; margin-top: 100px">
  What are the
  <span class="text-blue-600 light:text-blue-500">FAQs</span> ?
</h1>

<div class="FAQHolder" style="
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
        padding: 50px;
        margin-bottom: 50px;
      ">
  <div class="deviceMockup" style="padding: 20px;">
    <div
      class="relative mx-auto border-gray-800 light:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
      <div class="h-[32px] w-[3px] bg-gray-800 light:bg-gray-800 absolute -start-[17px] top-[72px] rounded-s-lg"></div>
      <div class="h-[46px] w-[3px] bg-gray-800 light:bg-gray-800 absolute -start-[17px] top-[124px] rounded-s-lg"></div>
      <div class="h-[46px] w-[3px] bg-gray-800 light:bg-gray-800 absolute -start-[17px] top-[178px] rounded-s-lg"></div>
      <div class="h-[64px] w-[3px] bg-gray-800 light:bg-gray-800 absolute -end-[17px] top-[142px] rounded-e-lg"></div>
      <div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white light:bg-gray-800">
        <img src="https://i.ibb.co/ysT54K7/Frame-115.png" class="light:light w-[272px] h-[572px]" alt="" />
        <!-- <img
              src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/mockup-1-light.png"
              class="light:block w-[272px] h-[572px]"
              alt=""
            /> -->
      </div>
    </div>
  </div>

  <div class="grid-container" style="padding-top: 20px; margin-bottom: 50px;">
    <div class="card">
      <div class="inline-block p-3 text-white bg-blue-600 rounded-lg" style="width: 48px; height: 48px">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <div>
        <h1 class="text-xl font-semibold text-gray-700 light:text-black" style="margin-top: 10px;">
          How do I create a professional CV on SmartParichaya?
        </h1>
        <p class="mt-2 text-sm text-gray-500 light:text-gray-300">
          Simply sign up and use our intuitive CV builder to input your
          details, select a template, and customize your CV effortlessly.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="inline-block p-3 text-white bg-blue-600 rounded-lg" style="width: 48px; height: 48px">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <div>
        <h1 class="text-xl font-semibold text-gray-700 light:text-black" style="margin-top: 10px;">
          Is there a specific format or layout I should follow for my CV?
        </h1>
        <p class="mt-2 text-sm text-gray-500 light:text-gray-300">
          While SmartParichaya offers various templates, it's advisable to choose
          a clean, professional layout that presents your information
          clearly and effectively.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="inline-block p-3 text-white bg-blue-600 rounded-lg" style="width: 48px; height: 48px">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <div>
        <h1 class="text-xl font-semibold text-gray-700 light:text-black" style="margin-top: 10px;">
          Can I access SmartParichaya's services on mobile devices?
        </h1>
        <p class="mt-2 text-sm text-gray-500 light:text-gray-300">
          Yes, SmartParichaya's platform is mobile-responsive, allowing seamless
          access from any device.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="inline-block p-3 text-white bg-blue-600 rounded-lg" style="width: 48px; height: 48px">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <div>
        <h1 class="text-xl font-semibold text-gray-700 light:text-black" style="margin-top: 10px;">
          Is SmartParichaya suitable for both individuals and institutions?
        </h1>
        <p class="mt-2 text-sm text-gray-500 light:text-gray-300">
          Yes, SmartParichaya caters to both individuals and institutions,
          providing tailored solutions for each.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="inline-block p-3 text-white bg-blue-600 rounded-lg" style="width: 48px; height: 48px">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <div>
        <h1 class="text-xl font-semibold text-gray-700 light:text-black" style="margin-top: 10px;">
          Can I download my Resume and Cover Letter as PDF, Word or both?
        </h1>
        <p class="mt-2 text-sm text-gray-500 light:text-gray-300">
          Absolutely!SmartParichaya allows you to download your resume and cover
          letter in both PDF and Word formats, providing flexibility for
          your application needs.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="inline-block p-3 text-white bg-blue-600 rounded-lg" style="width: 48px; height: 48px">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
      <div>
        <h1 class="text-xl font-semibold text-gray-700 light:text-black" style="margin-top: 10px;">
          Is SmartParichaya free to use?
        </h1>
        <p class="mt-2 text-sm text-gray-500 light:text-gray-300">
          Certainly! Our resume builder at SmartParichaya is entirely free.
          Simply register with CareerAI to start crafting your professional
          resume today.
        </p>
      </div>
    </div>
  </div>
  <style>
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 50px;
    }

    @media (max-width: 768px) {
      .grid-container {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    @media (max-width: 1305px) {
      .FAQHolder {
        flex-direction: column;
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    .card svg {
      width: 24px;
      height: 24px;
      color: #ffffff;
      margin-bottom: 10px;
    }
  </style>
</div>


{% endblock body %}